# Equivalent Python/Pandas code 

(Running this script will allow us to see how the speeds of C++- and Python-based data analysis approaches differ. However, this is by no means a formal or scientific test.)

In [1]:
import time
start_time = time.time()
import pandas as pd
print("Starting program.")

Starting program.

In [2]:
# Reading in full file:
df_bts = pd.read_csv("/home/kjb3/D1V1/Documents/Large_Datasets/BTS/T_\
T100_SEGMENT_ALL_CARRIER_2024.csv")

In [3]:
df_airlines_by_dist = df_bts.pivot_table(
    index = 'UNIQUE_CARRIER', values = 'DISTANCE', 
aggfunc = 'mean').reset_index().rename(
    columns = {'DISTANCE':'mean_distance'})
df_airlines_by_dist.sort_values('mean_distance', ascending = False,
                                inplace = True)
df_airlines_by_dist

    UNIQUE_CARRIER  mean_distance
71              AI    7703.880645
235             QR    7471.545455
180             KQ    7360.000000
200             MF    7286.000000
45              3U    7205.000000
..             ...            ...
282             X4      40.068182
90             BAS      39.842857
266             VI      30.649123
28              2E      18.418079
210            NEW      17.000000

[300 rows x 2 columns]

In [4]:
df_hubs_pivot = df_bts.pivot_table(
    index = ['UNIQUE_CARRIER', 'ORIGIN'], values = 'PASSENGERS', 
aggfunc = 'sum').reset_index().rename(
    columns = {'PASSENGERS':'origin_passengers'})
df_hubs_pivot.sort_values('origin_passengers', ascending = False,
                                inplace = True)
df_hubs_pivot

      UNIQUE_CARRIER ORIGIN  origin_passengers
5900              DL    ATL         38684125.0
4156              AA    DFW         28487882.0
4137              AA    CLT         19888475.0
12033             UA    DEN         15637367.0
4254              AA    MIA         15209951.0
...              ...    ...                ...
11879             U7    HOU                0.0
3155              5Y    ANC                0.0
3156              5Y    ARA                0.0
3157              5Y    ATL                0.0
11886             U7    JAN                0.0

[14070 rows x 3 columns]

In [5]:
df_hubs_pivot.query("UNIQUE_CARRIER == '7C'")

     UNIQUE_CARRIER ORIGIN  origin_passengers
3370             7C    ICN           221672.0
3372             7C    SPN           120356.0
3369             7C    GUM           111796.0
3371             7C    PUS             8092.0

In [6]:
df_airlines_by_dist.to_csv('Python_Output/airlines_by_mean_dist.csv', 
                           index = False)
df_hubs_pivot.to_csv('Python_Output/total_origin_pax_by_\
airline_and_airport.csv', index = False)

In [7]:
end_time = time.time()
run_time = end_time - start_time
print(f"Finsihed running program in {round(run_time, 3)} seconds.")

Finsihed running program in 1.777 seconds.